body{
    font-family: 'Outfit', sans-serif;
font-family: 'Roboto Slab', serif;

}
h1{

    font-size: 50px;
}
.color{
    color: orange;
}
.flexible-container{
    display:flex;
    margin-bottom: 120px;
}
.half-width{
    width:50%;
    padding-left:10% 
}
.half-width img{
    width: 60%;
}
.link-button{
text-decoration:none;
background-image:linear-gradient(red, orange);
padding: 10px 40px;
 color:black;
 font-weight:800;
border-radius:5px;

}
.top{
    background-image:url(images/dense-black-dots-abstract-right-top-corner-white-background-vector-illustration-98267241.jpg);
    background-repeat: no-repeat;

}
.half{
    width:50%;
    padding-right:20%;
}
.half img{
    width:80%;
    padding-left:40%;
}
.second-task{
    background-image: url(images/images.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
